html {
    position: relative; /* footer */
    min-height: 100%;  /* footer */
    font-family: Georgia serif;
    font-style: italic;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: repeating-linear-gradient(
        90deg,
        #F5F5DC,
        #F5F5DC 10px,
        #FFFFF5 10px,
        #FFFFF5 20px)
        fixed;
    margin-bottom: 60px; /* footer */
}

.header {
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-bottom: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.footer {
    position: absolute;
    height: 60px;
    padding-top: 10px;
    border-top: 0;
    bottom: 0;
    font-size: 95%;
    width: 100%;
    max-width: 730px;
}

.footer .row {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
}

.footer .fa {
    line-height: inherit;
    margin-right: 5px;
}

#ornament img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
}
