html {
    position: relative; /* footer */
    min-height: 100%;  /* footer */
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #F5F3ED;
    margin-bottom: 60px; /* footer */
    font-family: 'Fjord One', serif;
    font-size: 1.7em;
}

a {
    color: black;
}

a:focus,
a:hover {
    color: #700000;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #700000;
}

.header {
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-bottom: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.footer {
    position: absolute;
    height: 60px;
    padding-top: 10px;
    border-top: 0;
    bottom: 0;
    font-size: 95%;
    width: 100%;
    max-width: 730px;
}

.footer .row {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.footer .fa {
    line-height: inherit;
    margin-right: 5px;
}

#ornament img {
    display: block;
    margin: auto;
}

.xs-text-center {
    text-align: center;
}

@media (min-width: 768px) {
    .sm-text-left {
        text-align: left;
    }
    .sm-text-right {
        text-align: right;
    }
}