html {
    position: relative; /* footer */
    min-height: 100%;  /* footer */
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: repeating-linear-gradient(
        -55deg,
        #F5F5DC,
        #F5F5DC 10px,
        #FFFFF5 10px,
        #FFFFF5 20px)
        fixed;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}



/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

footer .fa {
    line-height: inherit;
    margin-right: 5px;
}


body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    height: 60px;
    padding-top: 10px;
    border-top: 0;
    color: #777;
    bottom: 0;
}
