.thumb {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}
.row-table {
    display: table;
    table-layout: fixed;
    height: 100%;
}
.logo-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 65px;
}
.logo-cell:hover {
    opacity: 0.75;
}
.logo-cell > img {
    display: block;
    margin: auto;
}