{% extends base_template %}

{% block content %}

    <div class="row">
        <div class="col-sm-8">
            <form method="post" class="form-horizontal">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label class="col-sm-3 control-label">{{ field.label }}</label>
                        <div class="col-sm-9">
                            {{ field }}
                            <span class="help-block">{{ field.errors|striptags }}</span>
                        </div>
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-default" style="width:100%; max-width: 304px;">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="hidden-xs col-sm-4">
            <label style="padding-top: 7px; text-decoration: underline;">Instructions:</label>
            <ol>
                <li>Fill out the form - see examples within each field.</li>
                <li>Check <mark>I'm not a robot</mark> box and then click <mark>submit</mark>.</li>
                <li>Print summary page.</li>
            </ol>
            <p>Do <span class="label label-danger">NOT</span> submit guest's address, payment method, etc.</p>
        </div>
    </div>

{% endblock %}