{% extends base_template %}

{% block content %}

    <div>
        <div class="col-sm-12">

            <form method="post" class="form-horizontal">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label class="col-sm-2 control-label">{{ field.label }}</label>
                        <div class="col-sm-6">
                            {{ field }}
                            <span class="help-block">{{ field.errors|striptags }}</span>
                        </div>
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">
                        <button type="submit" class="btn btn-default" style="width:100%; max-width: 304px;">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock %}