{% extends base_template %}
{% load staticfiles %}

{% block content %}

    <div class="jumbotron" style="background-color: white;">
        <div class="row">
            <span style="font-size: 32px;">
                Did you leave something behind?
            </span>
        </div>
        <div class="row">
            <span style="font-size: 24px;">
                We will send it back to you ASAP!
            </span>
        </div>
        <div class="row" style="color:#700000">
            <span style="font-size: 50px;">
                Call us NOW!
                <br>757.585.4114
            </span>
        </div>
        <div class="row" style="margin-top: 20px">
            <span style="font-size: 24px;">
                We provide handling solutions to the hospitality facilities and their guests.
            </span>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-xs-12">
                <span style="font-size: 24px; vertical-align: middle;">Colonial Carriers</span>
                <div class="fb-like" data-href="https://facebook.com/colonialcarriers" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
            </div>
            <a class="btn btn_fb" target="_blank" href="https://facebook.com/colonialcarriers" role="button">Wall</a>
            <a class="btn btn_fb" target="_blank" href="https://www.facebook.com/login/?next=https://www.facebook.com/colonialcarriers" role="button">Send Message</a>
            <a class="btn btn_fb" target="_blank" href="https://facebook.com/colonialcarriers/reviews/" role="button">Give Feedback</a>
        </div>
    </div>

{% endblock %}