{% extends base_template %}

{% block content %}

    <div class="jumbotron" style="background-color: white;">
        <div class="row">
            <span style="font-size: 48px;">
                When the lost deserves to be found.
            </span>
        </div>
        <div class="row" style="margin-top: 20px">
            <span style="font-size: 24px;">
                We provide handling solutions to the hospitality facilities and their guests.
            </span>
        </div>
    </div>

{% endblock %}