{% extends base_template %}
{% load staticfiles %}

{% block head_extension %}
    <link href="{% static 'colonialcarriersdotcom/css/partners.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <h3>Meet Our Partners</h3>
    <div class="row">
        <ul>
            <li class="col-xs-6 col-sm-4 col-md-3 partner-logo">
                <img class="img-responsive thumb" alt="Days Inn Hotels" src="{% static "colonialcarriersdotcom/img/partners/days_inn_logo.png" %}">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 partner-logo">
                <img class="img-responsive thumb" alt="Hampton" src="{% static "colonialcarriersdotcom/img/partners/hampton_inn_logo.gif" %}">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 partner-logo">
                <img class="img-responsive thumb" alt="Hilton Garden Inn" src="{% static "colonialcarriersdotcom/img/partners/hilton_garden_inn_logo.png" %}">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 partner-logo">
                <img class="img-responsive thumb" alt="La Quinta Inns & Suites" src="{% static "colonialcarriersdotcom/img/partners/la_quinta_logo.png" %}">
            </li>
        </ul>
    </div>

{% endblock %}