{% extends base_template %}
{% load staticfiles %}

{% block head_extension %}
    <link href="{% static 'colonialcarriersdotcom/css/partners.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <h3>Meet Our Partners</h3>
    <div class="row">
        <ul>
            <li class="col-xs-6 col-sm-4 col-md-3 partner-logo">
                <a href="https://www.daysinn.com/hotels/virginia/williamsburg/days-inn-williamsburg-historic-area/hotel-overview">
                    <img class="img-responsive thumb" alt="Days Inn Hotels" src="{% static "colonialcarriersdotcom/img/partners/days_inn_logo.png" %}">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 partner-logo">
                <a href="https://hamptoninn3.hilton.com/en/hotels/virginia/hampton-inn-and-suites-williamsburg-central-WBGCLHX/index.html">
                    <img class="img-responsive thumb" alt="Hampton" src="{% static "colonialcarriersdotcom/img/partners/hampton_inn_logo.gif" %}">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 partner-logo">
                <a href="https://hiltongardeninn3.hilton.com/en/hotels/virginia/hilton-garden-inn-williamsburg-PHFWHGI/index.html">
                    <img class="img-responsive thumb" alt="Hilton Garden Inn" src="{% static "colonialcarriersdotcom/img/partners/hilton_garden_inn_logo.png" %}">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 partner-logo">
                <a href="https://www.lq.com/en/findandbook/hotel-details.6815.address.html">
                    <img class="img-responsive thumb" alt="La Quinta Inns & Suites" src="{% static "colonialcarriersdotcom/img/partners/la_quinta_logo.png" %}">
                </a>
            </li>
        </ul>
    </div>

{% endblock %}