{% extends base_template %}

{% block content %}
    <h3>Privacy policy</h3>

    <h4 style="padding-top: 15px;">General.</h4>
    <p>Your privacy is important to us. This privacy policy is intended to give you confidence in the privacy and security of the personal information we obtain from you.</p>

    <h4 style="padding-top: 15px;">Collection of Personal Information.</h4>
    <p>When you use our services, you may be asked for personally identifiable information, including, but not limited to, your name, address, email address, telephone number. By giving us such information, you will need to consent to our using it in the manner described in this policy. You may withdraw your consent at any time by emailing us at colonial.carriers@gmail.com. We will destroy your personal information within 7(seven) business days of receipt of your withdrawal of consent. Cookie information, pages you have requested and your IP address may also be recorded by us and/or third parties from your browser as set out in this policy.</p>

    <h4 style="padding-top: 15px;">Use of Personal Information.</h4>
    <p>We use personal information to allow us to process your service requests. We employ shipping companies to perform functions on our behalf. They have access to personal information needed to perform their functions, but may not use it for other purposes. We release personal information to a relevant authority when we believe release is appropriate to comply with the law; enforce or apply our terms of service and other agreements; or protect the rights, property, or safety of ColonialCarriers.com, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction. Obviously, however, this does not include selling, renting, sharing, or otherwise disclosing personally identifiable information from customers.</p>

    <h4 style="padding-top: 15px;">Security.</h4>
    <p>We work to protect the security of your information during transmission by using Secure Sockets Layer (SSL) software, which encrypts information you input. However, this is not a guarantee that such information cannot be accessed, altered or deleted due to firewall or other security software failures.</p>

    <h4 style="padding-top: 15px;">Policy Changes.</h4>
    <p>Colonial Carriers reserves the right to change this policy at any time.</p>

{% endblock %}

