{% extends base_template %}

{% block content %}
    <h3>Terms of Service</h3>

    <h4 style="padding-top: 15px;">Shipping.</h4>
    <p>Colonial Carriers reserves the right to choose the method of shipment. Most orders will be shipped within 2 (two) business days after they are placed. Delivery dates and times can not be guaranteed beyond those provided by our carriers. Colonial Carriers reserves the right not to accept your order.</p>

    <h4 style="padding-top: 15px;">Payment.</h4>
    <p>Shipping fee may vary (oversized items, over the weight limit, etc.) and extra charges may apply – in this case services will be provided only if mutual agreement concluded.</p>

    <h4 style="padding-top: 15px;">Refunds and returns.</h4>
    <p>No returns will be accepted.
    <br>No refunds will be issued.</p>

    <p>Colonial Carriers reserves the right to change these Terms of Service at any time.</p>

{% endblock %}

